html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link,
.logo-primary,
.logo-secondary,
.footer-logo-primary,
.footer-logo-secondary,
.header-address,
.footer-address,
.footer-info,
.link-main,
.hero-link,
.portfolio-filter-link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.nav-main {
  position: relative;
  display: flex;
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav-site {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 60px;
  text-align: center;
}

@media (min-width: 768px) {
  .nav-site {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 294px;
    margin: 0;
    padding-top: 32px;
  }
}

@media (min-width: 1200px) {
  .nav-site {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav-site .item {
  display: block;
  max-width: 450px;
  padding-right: auto;
  padding-left: auto;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1717;
  letter-spacing: 0.02em;
  text-align: left;
}

.nav-site .item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .nav-site .item {
    display: flex;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.1721;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

.nav-site .item.page {
  margin-bottom: 52px;
}

@media (min-width: 768px) {
  .nav-site .item.page {
    margin-bottom: 0;
  }
}

.page-header {
  position: relative;
  background-color: #ffffff;
}

.header-info {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .header-info {
    display: flex;
    flex-direction: column;
    padding: 21px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1717;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .header-info {
    flex-direction: row;
    padding: 30px 0;
    align-items: baseline;
    font-size: 14px;
    line-height: 1.1721;
    letter-spacing: 0.02em;
    text-align: left;
  }
}

.header-address {
  color: #757575;
  font-weight: 500;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address:hover, .header-address:focus {
  color: #2196f3;
}

.header-svg {
  display: inline-block;
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button {
  display: inline-flex;
  margin: 10px 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-conteiner {
  background-color: #ffffff;
  padding: 60px 20px 60px 20px;
  text-align: center;
  font-size: 20px;
  z-index: 50;
}

@media (max-width: 767px) {
  .menu-conteiner {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-conteiner.is-open {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu-conteiner {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0;
    padding: 0 0 0 0;
  }
}

.header-info-item {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .header-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
}

@media (min-width: 1200px) {
  .header-info-item {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media (min-width: 768px) {
  .header-info-item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .header-info-item:last-child {
    margin-right: 0;
  }
}

.header-address:hover .header-svg,
.header-address:focus .header-svg {
  fill: #2196f3;
}

.logo {
  margin-right: 88px;
}

@media (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-primary, .logo-secondary {
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
}

@media (min-width: 768px) {
  .logo-primary, .logo-secondary {
    padding: 26px 0;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1741;
    text-align: left;
  }
}

.logo-primary {
  color: #2196f3;
}

.logo-secondary {
  color: #212121;
}

.link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link-main {
  position: relative;
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-main::after {
  content: "";
  position: absolute;
  bottom: -14px;
  transform: translate(-50%, -50%);
  display: block;
  left: 50%;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

@media (min-width: 768px) {
  .link-main::after {
    bottom: -34px;
    display: block;
  }
}

.link-main:hover, .link-main:focus {
  color: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: all 500ms steps(4, jump-end) 1s;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  margin-top: 93px;
  background: #ffffff;
}

@media (min-width: 480px) {
  .modal {
    position: absolute;
    height: 609px;
    width: 450px;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 768px) {
  .modal {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}

.form {
  max-width: 450px;
  width: 100%;
}

.form-section {
  padding: 40px;
}

.form-title {
  max-width: 450px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}

@media (min-width: 1200px) {
  .form-title {
    line-height: 1.172;
  }
}

.form-fild {
  position: relative;
  display: inline-block;
  margin-bottom: 28px;
  width: 100%;
  height: 40px;
}

.form-fild-textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 0;
}

.form-fild-checkbox {
  margin-top: 16px;
  margin-bottom: 31px;
  padding: 0;
}

@media (min-width: 1200px) {
  .form-fild-checkbox {
    margin-bottom: 30px;
  }
}

.form-lable {
  width: 100%;
  margin: 0;
  padding: 0;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-input:focus ~ .label-icon {
  fill: #2196f3;
}

.form-textarea {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  text-align: left;
  color: #75757550;
}

.form-textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.form-button {
  width: 200px;
  height: 50px;
  margin-left: 85px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .form-button {
    margin-left: 124px;
  }
}

.form-button:hover, .form-button:focus {
  background-color: #188ce8;
  outline: none;
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.label-title {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}

.label-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contract {
  font-size: 12px;
  line-height: 1.1667;
  text-align: left;
  color: #757575;
}

@media (min-width: 1200px) {
  .contract {
    font-size: 14px;
    line-height: 1.7143;
    text-align: left;
  }
}

.contract-link {
  font-size: 12px;
  line-height: 1.1667;
  text-align: left;
  color: #2196f3;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .contract-link {
    font-size: 14px;
    line-height: 1.7143;
    text-align: left;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .checkbox-icon {
    margin-left: 12px;
  }
}

.checkbox:checked + .checkbox-icon {
  transform: scale(1);
  border-color: transparent;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.social {
  display: flex;
  padding: 0;
  justify-content: center;
}

.social-icon-item {
  fill: #afb1b8;
  color: #afb1b8;
}

.social-icon-item + .social-icon-item {
  margin-left: 10px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover .social-icon,
.social-icon-link:focus .social-icon {
  fill: #ffffff;
}

.social-icon-link:hover, .social-icon-link:focus {
  background-color: #2196f3;
}

.social-icon-link:visited {
  fill: #afb1b8;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-conteiner {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 480px) {
  .footer-conteiner {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .footer-conteiner {
    display: flex;
    flex-wrap: nowrap;
    width: 1200px;
  }
}

.footer-data {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-data {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .footer-data {
    max-width: 231px;
    align-items: start;
  }
}

.footer-address {
  display: flex;
  padding: 0;
  color: #ffffff;
  font-style: normal;
  line-height: 1.7143;
  height: 21px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .footer-address {
    display: inline-block;
  }
}

.footer-address:hover, .footer-address:focus {
  color: #2196f3;
}

.footer-list {
  display: block;
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
  .footer-list {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

.footer-list .item + .item {
  margin-top: 8px;
  font-style: normal;
}

@media (min-width: 1200px) {
  .footer-list .item + .item {
    margin-top: 9px;
  }
}

.footer-info {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7143;
  height: 21px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .footer-info {
    display: inline-block;
    padding: 0;
  }
  .footer-info:hover, .footer-info:focus {
    color: #2196f3;
  }
}

.footer-logo-primary {
  display: inline-block;
  margin-bottom: 20px;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
}

.footer-logo-secondary {
  display: inline-block;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
}

.footer-social {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  margin-top: 60px;
}

@media (min-width: 768px) {
  .footer-social {
    width: 50%;
    margin: 0;
    padding-top: 12px;
  }
}

@media (min-width: 1200px) {
  .footer-social {
    display: flex;
    flex-direction: column;
    width: 206px;
    height: 80px;
    margin-left: 70px;
    margin-bottom: 40px;
  }
}

.footer-social-text {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1721;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .footer-social-text {
    margin-right: auto;
  }
}

.footer-social-icon {
  display: inline-flex;
  padding-left: 0;
  margin: 0;
}

.footer-social-icon .footer-social-icon-item + .footer-social-icon-item {
  margin-left: 10px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  background-color: #ffffff10;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon:hover, .footer-icon:focus {
  background-color: #2196f3;
}

.footer-form {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

@media (min-width: 1200px) {
  .footer-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    bottom: 0;
  }
}

.footer-form-main {
  display: block;
  width: 100%;
  margin-top: 60px;
  padding: 0;
  align-items: center;
}

@media (min-width: 1200px) {
  .footer-form-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 570px;
    margin: 12px 0px 34px 93px;
    padding: 0;
    align-items: flex-start;
  }
}

.footer-form-text {
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: 700;
  line-height: 1.1429;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .footer-form-text {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

.footer-form-input {
  display: block;
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  background: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) {
  .footer-form-input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .footer-form-input {
    display: flex;
    padding: 15px 16px;
    margin: 0;
    width: 358px;
  }
}

.footer-form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.footer-form-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-align: left;
  color: #ffffff60;
}

.footer-form-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .footer-form-btn {
    display: inline-block;
    margin: 0;
  }
}

.footer-form-btn:hover, .footer-form-btn:focus {
  background-color: #ffffff;
  color: #2196f3;
  outline: none;
}

.footer-form-btn:hover .footer-form-icon,
.footer-form-btn:focus .footer-form-icon {
  fill: #2196f3;
}

.hero {
  display: flex;
  width: 100%;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: #2f303a;
  background-image: linear-gradient(#2f303a40, #2f303a40), url(../images/herophone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transform: translate(-50% -50%);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(#2f303a40, #2f303a40), url(../images/herophone@2x.jpg);
  }
}

@media (min-width: 480px) {
  .hero {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .hero {
    width: 768px;
    background-image: linear-gradient(#2f303a40, #2f303a40), url(../images/herotablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transform: translate(-50% -50%);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(#2f303a40, #2f303a40), url(../images/herotablet@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2f303a;
    background-image: linear-gradient(#2f303a40, #2f303a40), url(../images/herodesk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transform: translate(-50% -50%);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(#2f303a40, #2f303a40), url(../images/herodesk@2x.jpg);
  }
}

.hero-title {
  display: block;
  margin-bottom: 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6154;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero-link {
  width: auto;
  margin: 0 auto;
  padding: 9px 31px;
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover, .hero-link:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.advan {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .advan {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advan-subtitle {
  font-weight: 700;
  width: 100%;
  line-height: 1.1721;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
  color: #212121;
  text-transform: uppercase;
}

.advan-text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  color: #757575;
  line-height: 1.7143;
}

.advantages {
  display: block;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    padding: 0;
  }
}

.advantages .item {
  width: 100%;
}

@media (min-width: 768px) {
  .advantages .item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .advantages .item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
  }
}

.antenna {
  display: inline-block;
  fill: #212121;
  text-decoration: none;
}

.antenna::before {
  content: "";
  display: flex;
  height: 120px;
  background-image: url("../images/antenna.svg");
  background-color: #f5f4fa;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.clock {
  display: inline-block;
  fill: #212121;
  text-decoration: none;
}

.clock::before {
  content: "";
  display: flex;
  height: 120px;
  background-image: url("../images/clock.svg");
  background-color: #f5f4fa;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.diagram {
  display: inline-block;
  fill: #212121;
  text-decoration: none;
}

.diagram::before {
  content: "";
  display: flex;
  height: 120px;
  background-image: url("../images/diagram.svg");
  background-color: #f5f4fa;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.astronaut {
  display: inline-block;
  fill: #212121;
  text-decoration: none;
}

.astronaut::before {
  content: "";
  display: flex;
  height: 120px;
  background-image: url("../images/astronaut.svg");
  background-color: #f5f4fa;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.work {
  display: none;
}

@media (min-width: 1200px) {
  .work {
    display: block;
    background-color: #ffffff;
    padding-bottom: 94px;
  }
}

.work-title {
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 376px;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.work-general {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  padding-left: 0;
}

.work-list {
  position: relative;
  padding: 0;
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.work-item {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  background: #2f303a80;
}

.work-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.1429;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #f5f4fa;
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  margin: 0;
  color: #212121;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1718;
  text-align: center;
}

@media (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.1719;
  }
}

.team-list {
  display: block;
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .team-list {
    margin-top: 50px;
  }
}

.team-list .item {
  width: 100%;
  padding-bottom: 24px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:nth-child(3) {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .team-list .item:nth-child(3) {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .team-list .item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .team-list .item {
    width: calc(100% / 4 - 30px);
    padding-bottom: 30px;
  }
}

.team-subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1719;
  text-align: center;
}

.team-text {
  margin-top: 10px;
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.1719;
  text-align: center;
}

.clients {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1718;
  text-align: center;
  color: #212121;
}

@media (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.1719;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -30px;
}

.clients-item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .clients-item {
    width: calc(100% / 3 - 30px);
  }
}

@media (min-width: 1200px) {
  .clients-item {
    width: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
  fill: #2196f3;
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
  box-sizing: border-box;
  border-radius: 4px;
}

.clients-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client1 {
  margin: 19px 62px;
  width: 44px;
  height: 48px;
}

.client2 {
  margin: 18px 64px;
  width: 40px;
  height: 51px;
}

.client3 {
  margin: 23px 63px;
  width: 42px;
  height: 41px;
}

.client4 {
  margin: 23px 44px;
  width: 80px;
  height: 41px;
}

.client5 {
  margin: 20px 55px;
  width: 60px;
  height: 47px;
}

.client6 {
  margin: 21px 40px;
  width: 88px;
  height: 45px;
}
/*# sourceMappingURL=main.css.map */