:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #e5e5e5;
  --primary-white-color: #ffffff;
  --primary-links-color: #2196f3;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link,
.logo-primary,
.logo-secondary,
.logo-primary-footer,
.logo-secondary-footer,
.header-address,
.footer-address,
.footer-info,
.main-link,
.hero-link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.conteiner {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

header {
  background-color: var(--primary-white-color);
}
.logo {
  margin-right: 93px;
}
.logo-primary {
  color: var(--primary-links-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
}
.logo-secondary {
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
}
.link {
  color: var(--title-text-color);
}
.link:hover,
.link:focus {
  color: var(--primary-links-color);
}
.main-link {
  color: var(--primary-links-color);
}
.main-link:hover,
.main-link:focus {
  color: var(--title-text-color);
}
.link,
.main-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.header-info {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.header-info .item + .item {
  margin-left: 50px;
}
.header-info .header-address {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.header-address:hover,
.header-address:focus {
  color: var(--primary-links-color);
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--primary-background-color);
}
.hero-div {
  display: flex;
  flex-direction: column;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.hero-link {
  width: auto;
  margin: 0 auto;
  padding: 9px 31px;
  border: 1px solid var(--primary-links-color);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--primary-links-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--primary-links-color);
  background-color: var(--primary-white-color);
}
.advan {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}
.advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.advantages .item {
  width: calc((100% - 90px) / 4);
  margin: 0;
}
.advantages .item + .item {
  margin-left: 30px;
}
.advan-subtitle {
  margin: 0;
  padding: 0;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}
.advan-text {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  width: 270px;
  height: 75px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.46;
}
.work {
  background-color: var(--primary-white-color);
}
.work-title {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  width: 376px;
  color: var(--title-text-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 94px;
  padding-left: 0;
  margin: 0;
}
.work-list .item {
  margin: 0;
  padding: 0;
  width: calc((100% - 60px) / 3);
}
.work-list .item + .item {
  margin-left: 30px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-background-color);
}
.team-title {
  margin: 0;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-list .item {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  margin: 10px auto 30px auto;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}
.conteiner-footer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.logo-primary-footer {
  margin-bottom: 20px;
  color: var(--primary-links-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
}
.logo-secondary-footer {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
}
.footer-address {
  display: inline-block;
  padding: 0;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7143;
  font-style: normal;
  height: 21px;
}
.footer-address:hover,
.footer-address:focus {
  color: var(--primary-links-color);
}
.footer-list {
  padding: 0;
  margin: 0;
}
.footer-info {
  display: inline-block;
  margin-top: 9px;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7143;
  font-style: normal;
  height: 21px;
}
.footer-info:hover,
.footer-info:focus {
  color: var(--primary-links-color);
}
/* css для недостающих класов portfolio.html */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}
.button-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.button-list .item + .item {
  margin-left: 30px;
}
.button-list .item {
  margin: 0;
  padding: 0;
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 50px auto 0px auto;
  padding-right: 15px;
  padding-left: 15px;
}

.filter-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.filter-item:nth-child(3n) {
  margin-right: 0;
}
.filter-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.filters {
  padding: 4px 20px;
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filters:hover,
.filters:focus {
  background-color: var(--primary-links-color);
  color: var(--primary-white-color);
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
}
.projects {
  background-color: var(--primary-white-color);
}
.projects-subtitle {
  margin: 20px auto 4px 24px;
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.projects-text {
  margin-bottom: 20px;
  margin-left: 24px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
}
