:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #e5e5e5;
  --primary-white-color: #ffffff;
  --primary-links-color: #2196f3;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --icon-color: #afb1b8;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}
body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link,
.logo-primary,
.logo-secondary,
.logo-primary-footer,
.logo-secondary-footer,
.header-address,
.footer-address,
.footer-info,
.main-link,
.hero-link,
.filter-link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.site-nav .item {
  display: flex;
  padding-top: 31px;
  padding-bottom: 31px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1429;
  letter-spacing: 0.02em;
}
.site-nav .item + .item {
  margin-left: 50px;
}

header {
  background-color: var(--primary-white-color);
}
.logo {
  margin-right: 93px;
}
.logo-primary {
  color: var(--primary-links-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
}
.logo-secondary {
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
}
.link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--primary-links-color);
}
.main-link {
  position: relative;
  color: var(--primary-links-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-link::after {
  content: "";
  position: absolute;
  bottom: -32px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--primary-links-color);
}
.main-link:hover,
.main-link:focus {
  color: var(--primary-links-color);
}
.link,
.main-link {
}
.header-info {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.header-info .header-info-item + .header-info-item {
  margin-left: 30px;
}
.header-info .header-address {
  display: flex;
  padding-top: 31px;
  padding-bottom: 31px;
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address:hover,
.header-address:focus {
  color: var(--primary-links-color);
}
.header-svg {
  display: inline-block;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address:hover .header-svg,
.header-address:focus .header-svg {
  fill: var(--primary-links-color);
}

.hero {
  display: flex;
  width: 1600px;
  height: 600px;
  margin: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--primary-background-color);
  background-image: linear-gradient(#2f303a40, #2f303a40),
    url(../images/bghero.jpg);
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}
.hero-link {
  width: auto;
  margin: 0 auto;
  padding: 9px 31px;
  border: 1px solid var(--primary-links-color);
  border-radius: 4px;
  color: var(--primary-white-color);
  background-color: var(--primary-links-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-link:hover,
.hero-link:focus {
  color: var(--primary-links-color);
  background-color: var(--primary-white-color);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
  transition: all 500ms steps(4, jump-end) 1s;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
}
.section-form {
  padding: 40px;
}
.form-title {
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}
.form {
  width: 100%;
}
.form-fild {
  position: relative;
  display: inline-block;
  margin-bottom: 28px;
  width: 100%;
  height: 40px;
}
.form-fild-textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 0;
}
.form-fild-checkbox {
  margin-top: 16px;
  margin-bottom: 30px;
  padding: 0;
}
.form-lable {
  width: 100%;
  margin: 0;
  padding: 0;
}
.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  text-align: left;
  color: #75757550;
}
.label-title {
  position: absolute;
  top: -18px;
  left: 0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--primary-text-color);
}
.label-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: var(--primary-links-color);
  outline: none;
}
.form-textarea:focus {
  border-color: var(--primary-links-color);
  outline: none;
}
.form-input:focus ~ .label-icon {
  fill: var(--primary-links-color);
}
.contract {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}
.contract-link {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-links-color);
  text-decoration: underline;
}
.form-checkbox {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  margin-left: 12px;
  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  transform: scale(1);
  border-color: transparent;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.form-button {
  width: 200px;
  height: 50px;
  margin-left: 124px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background: var(--primary-links-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
  outline: none;
}
.advan {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}
.advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.advantages .item {
  width: calc((100% - 90px) / 4);
  margin: 0;
}
.advantages .item + .item {
  margin-left: 30px;
}
.antenna {
  display: inline-block;
  fill: var(--title-text-color);
  text-decoration: none;
}
.antenna::before {
  content: "";
  display: flex;
  height: 120px;
  background-image: url("../images/antenna.svg");
  background-color: var(--secondary-background-color);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.clock {
  display: inline-block;
  fill: var(--title-text-color);
  text-decoration: none;
}
.clock::before {
  content: "";
  display: flex;
  height: 120px;
  background-image: url("../images/clock.svg");
  background-color: var(--secondary-background-color);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.diagram {
  display: inline-block;
  fill: var(--title-text-color);
  text-decoration: none;
}
.diagram::before {
  content: "";
  display: flex;
  height: 120px;
  background-image: url("../images/diagram.svg");
  background-color: var(--secondary-background-color);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.astronaut {
  display: inline-block;
  fill: var(--title-text-color);
  text-decoration: none;
}
.astronaut::before {
  content: "";
  display: flex;
  height: 120px;
  background-image: url("../images/astronaut.svg");
  background-color: var(--secondary-background-color);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.advan-subtitle {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
}
.advan-text {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 270px;
  height: 75px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.46;
}
.work {
  background-color: var(--primary-white-color);
  padding-bottom: 94px;
}
.work-title {
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 376px;
  color: var(--title-text-color);
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.work-general {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}
.work-general .work-list {
  position: relative;
  margin: 0;
  padding: 0;
  width: calc((100% - 60px) / 3);
}
.work-general .work-list + .work-list {
  margin-left: 30px;
}
.work-item {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;
  background: #2f303a80;
}
.work-subtitle {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-background-color);
}
.team-title {
  margin: 0;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-list .item {
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}
.team-text {
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.social {
  display: inline-flex;
  padding-left: 32px;
  padding-right: 32px;
}
.social-icon-item {
  fill: var(--icon-color);
}
.social .social-icon-item + .social-icon-item {
  margin-left: 10px;
}
.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-link:hover .social-icon,
.social-icon-link:focus .social-icon {
  fill: var(--primary-white-color);
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--primary-links-color);
}
.social-icon-link:visited {
  fill: var(--icon-color);
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}
.clients-title {
  font-family: Roboto;
  color: var(--title-text-color);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1667;
  letter-spacing: 0.03em;
  text-align: center;
}
.clients-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.clients-item {
  width: calc((100% - 150px) / 6);
  height: 90px;
  border: 1px solid var(--icon-color);
  box-sizing: border-box;
  border-radius: 4px;
}
.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
}
.clients-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
  fill: var(--primary-links-color);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--primary-links-color);
  box-sizing: border-box;
  border-radius: 4px;
}
.client1 {
  margin: 19px 62px;
  width: 44px;
  height: 48px;
}
.client2 {
  margin: 18px 64px;
  width: 40px;
  height: 51px;
}
.client3 {
  margin: 23px 63px;
  width: 42px;
  height: 41px;
}
.client4 {
  margin: 23px 44px;
  width: 80px;
  height: 41px;
}
.client5 {
  margin: 20px 55px;
  width: 60px;
  height: 47px;
}
.client6 {
  margin: 21px 40px;
  width: 88px;
  height: 45px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}
.conteiner-footer {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.footer-data {
  display: flex;
  flex-direction: column;
}
.logo-primary-footer {
  margin-bottom: 20px;
  color: var(--primary-links-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
}
.logo-secondary-footer {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
}
.footer-address {
  display: inline-block;
  padding: 0;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.7143;
  font-style: normal;
  height: 21px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--primary-links-color);
}
.footer-list {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.footer-list .item + .item {
  margin-top: 9px;
}
.footer-info {
  display: inline-block;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7143;
  font-style: normal;
  height: 21px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-info:hover,
.footer-info:focus {
  color: var(--primary-links-color);
}
.footer-social {
  display: flex;
  flex-direction: column;
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 12px;
  margin-bottom: 40px;
}
.footer-social-text {
  color: var(--primary-white-color);
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1721;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 20px;
}
.social-footer {
  display: inline-flex;
  padding-left: 0;
  margin: 0;
}
.social-footer .social-icon-item-footer + .social-icon-item-footer {
  margin-left: 10px;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--primary-white-color);
  background-color: #ffffff10;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--primary-links-color);
}
.footer-form-main {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  margin: 12px 0px 34px 93px;
  padding: 0;
}
.footer-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  bottom: 0;
}
.footer-form-text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1429;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.footer-form-input {
  padding: 15px 16px;
  margin: 0;
  width: 358px;
  background: transparent;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input:focus {
  border-color: var(--primary-links-color);
  outline: none;
}
.footer-form-input::placeholder {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff60;
}
.btn-footer-form {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
  background: var(--primary-links-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-footer-form:hover,
.btn-footer-form:focus {
  background-color: var(--primary-white-color);
  color: var(--primary-links-color);
  outline: none;
}
.footer-form-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--primary-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-footer-form:hover .footer-form-icon,
.btn-footer-form:focus .footer-form-icon {
  fill: var(--primary-links-color);
}

/* css для недостающих класов portfolio.html */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--primary-white-color);
}
.button-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.button-list .item + .item {
  margin-left: 8px;
}
.button-list .item {
  margin: 0;
  padding: 0;
}

.filters {
  padding: 4px 20px;
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  box-shadow: none;
  border-color: transparent;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters:hover,
.filters:focus {
  background-color: var(--primary-links-color);
  color: var(--primary-white-color);
  border-radius: 4px;
  border-color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
}
.filter-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-top: 50px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 0px;
  margin-inline-end: 0px;
  align-items: center;
}

.filter-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  padding-bottom: 0;
  border: 1px solid #eeeeee;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item:nth-child(3n) {
  margin-right: 0;
}
.filter-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.filter-link {
  position: relative;
  display: block;
  overflow: hidden;
}
.filter-item .filter-link:hover,
.filter-item .filter-link:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay-filter {
  position: relative;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.overlay-projects {
  position: absolute;
  padding: 63px 24px;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5556;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-white-color);
  background-color: #2196f390;
}
.filter-link:hover .overlay-projects,
.filter-link:focus .overlay-projects {
  transform: translateY(0);
}
.projects {
  background-color: var(--primary-white-color);
}
.projects-subtitle {
  margin: 20px auto 4px 24px;
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.projects-text {
  margin-left: 24px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 20px;
}
