.form {
  width: 100%;
  &-section {
    padding: 40px;
  }
  &-title {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
  }
  &-fild {
    position: relative;
    display: inline-block;
    margin-bottom: 28px;
    width: 100%;
    height: 40px;
    &-textarea {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 120px;
      margin: 0;
      padding: 0;
    }
    &-checkbox {
      margin-top: 16px;
      margin-bottom: 30px;
      padding: 0;
    }
  }
  &-lable {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  &-input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: $primaryLinksColor;
      outline: none;
    }
    &:focus ~ .label-icon {
      fill: $primaryLinksColor;
    }
  }
  &-textarea {
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.1667;
      letter-spacing: 0.01em;
      text-align: left;
      color: #75757550;
    }
    &:focus {
      border-color: $primaryLinksColor;
      outline: none;
    }
  }
  &-button {
    width: 200px;
    height: 50px;
    margin-left: 124px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    color: $primaryWhiteColor;
    background: $primaryLinksColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    transition: bacground-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #188ce8;
      outline: none;
    }
  }
  &-checkbox {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
}

.label-title {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1667;
  letter-spacing: 0.01em;
  text-align: left;
  color: $primaryTextColor;
}
.label-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: $titleTextColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contract {
  font-weight: 400;
  line-height: 1.7143;
  text-align: left;
  color: $primaryTextColor;
  &-link {
    font-weight: 400;
    line-height: 1.7143;
    text-align: left;
    color: $primaryLinksColor;
    text-decoration: underline;
  }
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  &-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 5px;
    margin-left: 12px;
    border: 2px solid $titleTextColor;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:checked + .checkbox-icon {
    transform: scale(1);
    border-color: transparent;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}
