.logo {
  margin-right: 88px;

  @include for-size(desctop) {
  margin-right: 93px;
}

  &-primary,
  &-secondary {
    padding: 16px 0;
    font-family: $secondaryFontFamily;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.193;
  }
}
.logo-primary {
  color: $primaryLinksColor;
}
.logo-secondary {
  color: $titleTextColor;
}
