.nav-main {
  position: relative;
  display: flex;
  }

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  &-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 60px;
    text-align: center;

    @include for-size(tablet) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      width: 294px;
      margin: 0;
      padding-top: 32px;
    }

    @include for-size(desktop) {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    .item {
      display: block;
      max-width: 450px;
      padding-right: auto;
      padding-left: auto;
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.1717;
      letter-spacing: 0.02em;
      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }

      @include for-size(tablet) {
        display: flex;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.1721;
        letter-spacing: 0.02em;
        text-align: left;
      }
     
      &.page {
        margin-bottom: 52px;

        @include for-size(tablet) {
          margin-bottom: 0;
        }
      }
    }
  }
}
