html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link,
.logo-primary,
.logo-secondary,
.footer-logo-primary,
.footer-logo-secondary,
.header-address,
.footer-address,
.footer-info,
.link-main,
.hero-link,
.portfolio-filter-link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
