// colors
$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #e5e5e5;
$primaryWhiteColor: #ffffff;
$primaryLinksColor: #2196f3;
$primaryBackgroundColor: #2f303a;
$secondaryBackgroundColor: #f5f4fa;
$iconColor: #afb1b8;

//fonts
$mainFontFamily: 'Roboto', sans-serif;
$secondaryFontFamily: 'Raleway', sans-serif;


