.advan {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $primaryWhiteColor;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-subtitle {
    font-weight: 700;
    width: 100%;
    line-height: 1.1721;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
    color: $titleTextColor;
    text-transform: uppercase;
  }
  &-text {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    color: $primaryTextColor;
    line-height: 1.7143;
  }
}
.advantages {
  display: block;
  margin: 0;
  padding: 0;

  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    padding: 0;
  }

  .item {
    width: 100%;

    @include for-size(tablet) {
      width: calc(100% / 2 - 30px);
      margin-left: 30px;
    }

    @include for-size(desktop) {
      width: calc(100% / 4 - 30px);
      margin-left: 30px;
    }
  }
}
.antenna {
  display: inline-block;
  fill: $titleTextColor;
  text-decoration: none;
  &::before {
    content: "";
    display: flex;
    height: 120px;
    background-image: url("../images/antenna.svg");
    background-color: $secondaryBackgroundColor;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.clock {
  display: inline-block;
  fill: $titleTextColor;
  text-decoration: none;
  &::before {
    content: "";
    display: flex;
    height: 120px;
    background-image: url("../images/clock.svg");
    background-color: $secondaryBackgroundColor;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.diagram {
  display: inline-block;
  fill: $titleTextColor;
  text-decoration: none;
  &::before {
    content: "";
    display: flex;
    height: 120px;
    background-image: url("../images/diagram.svg");
    background-color: $secondaryBackgroundColor;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}

.astronaut {
  display: inline-block;
  fill: $titleTextColor;
  text-decoration: none;
  &::before {
    content: "";
    display: flex;
    height: 120px;
    background-image: url("../images/astronaut.svg");
    background-color: $secondaryBackgroundColor;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
}
