.clients {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: $primaryWhiteColor;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1718;
    text-align: center;
    color: $titleTextColor;

    @include for-size(desktop) {
      font-size: 36px;
      line-height: 1.1719;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-left: -30px;
  }
  &-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border: 1px solid $iconColor;
    box-sizing: border-box;
    border-radius: 4px;

    @include for-size(tablet) {
width: calc(100% / 3 - 30px);
    }

    @include for-size(desktop) {
    width: calc(100% / 6 - 30px);
    margin-bottom: 0;
  }
  }

  &-link {
    display: flex;
    background-color: $primaryWhiteColor;
    &:hover .clients-svg,
    &:focus .clients-svg {
      fill: $primaryLinksColor;
    }
    &:hover,
    &:focus {
      border: 1px solid $primaryLinksColor;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }
  &-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $iconColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.client1 {
  margin-top: 19px;
  margin-bottom: 19px;
  margin-left: calc((100% - 44px) / 2);
  width: 44px;
  height: 48px;
 }
.client2 {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: calc((100% - 40px) / 2);
  width: 40px;
  height: 51px;
}
.client3 {
  margin-top: 23px;
  margin-bottom: 23px;
  margin-left: calc((100% - 42px) / 2);
  width: 42px;
  height: 41px; 
}
.client4 {
  margin-top: 23px;
  margin-bottom: 23px;
  margin-left: calc((100% - 80px) / 2);
  width: 80px;
  height: 41px; 
}
.client5 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: calc((100% - 60px) / 2);
  height: 47px;
  width: 60px;
}
.client6 {
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: calc((100% - 88px) / 2);
  width: 88px;
  height: 45px;
}
