.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $primaryWhiteColor;

  &-button-list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    .portfolio-button-item + .portfolio-button-item {
      margin-left: 8px;
    }
    .portfolio-button-item {
      margin: 0;
      padding: 0;
    }
  }
  .portfolio-filter-btn {
    padding: 4px 20px;
    background-color: $secondaryBackgroundColor;
    color: $titleTextColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.63;
    box-shadow: none;
    border-color: transparent;
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $primaryLinksColor;
      color: $primaryWhiteColor;
      border-radius: 4px;
      border-color: $primaryWhiteColor;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }

  &-filter-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 0px;
    margin-inline-end: 0px;
    align-items: center;
  }

  &-filter-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 0;
    border: 1px solid #eeeeee;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
    & .portfolio-filter-link:hover,
    & .portfolio-filter-link:focus {
      background: #ffffff;
      border: 1px solid #eeeeee;
      box-sizing: border-box;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &-filter-link {
    position: relative;
    display: block;
    overflow: hidden;
    &:hover .overlay-projects,
    &:focus .overlay-projects {
      transform: translateY(0);
    }
  }
}
.overlay-filter {
  position: relative;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.overlay-projects {
  position: absolute;
  padding: 63px 24px;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  font-weight: 400;
  line-height: 1.5556;
  text-align: left;
  color: $primaryWhiteColor;
  background-color: #2196f390;
}

.projects {
  background-color: $primaryWhiteColor;

  &-subtitle {
    margin: 20px auto 4px 24px;
    color: $titleTextColor;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
  }
  &-text {
    margin-left: 24px;
    color: $primaryTextColor;
    font-size: 16px;
    line-height: 1.875;
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
}
